.app {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(112, 112, 112);
    align-items: center;
    min-height: 10vh;
    color: #fff;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}